<!-- customized footer -->
<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
     
      <div class="footer-col">
        <h3> Householder Committee </h3>
        <p>Zhaojun Bai, University of California at Davis, USA</p>
        <p>David Bindel, Cornell University, USA</p>
        <p>James Demmel, University of California at Berkeley, USA</p>
        <p>Zlatko Drmac, University of Zagreb, Croatia</p>
        <p>Heike Fassbender (chair and SIAM representative), Technical University of Braunschweig, Germany</p>
        <p>Sherry Li, Lawrence Berkeley National Laboratory, USA</p>
        <p>Volker Mehrmann, Technical University of Berlin, Germany</p>
        <p>James Nagy, Emory University, USA</p>
        <p>Valeria Simoncini, University of Bologna, Italy</p>
        <p>Andrew Wathen, Oxford University, UK</p>
      </div>
      
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>

</footer>
